<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions</title>

    <link rel="stylesheet" href="questionsPage/questionsPage.css" />
  </head>
  <body>
    <div class="wrapper-center">
      <div class="container">
        <form id="questions-form" onsubmit="return redirect()">
          <h1>Preferences questions</h1>
          <div id="question1" class="question">
            <p>1. Question 1?</p>
            <div class="question-options">
              <input type="radio" id="yes1" value="Yes" name="question1" />
              <label for="yes1">Yes</label>
              <input type="radio" id="no1" value="No" name="question1" />
              <label for="no1">No</label>
            </div>
          </div>
          <div id="question2" class="question">
            <p>2. Question 2?</p>
            <div class="question-options">
              <input type="radio" id="yes2" value="Yes" name="question2" />
              <label for="yes2">Yes</label>
              <input type="radio" id="no2" value="No" name="question2" />
              <label for="no2">No</label>
            </div>
          </div>

          <div id="question3" class="question">
            <p>3. Question 3?</p>
            <div class="question-options">
              <input type="radio" id="yes3" value="Yes" name="question3" />
              <label for="yes3">Yes</label>
              <input type="radio" id="no3" value="No" name="question3" />
              <label for="no3">No</label>
            </div>
          </div>
          <div class="wrapper-buttons">
            <button onclick="reset()">Reset</button>
            <button type="submit" >Save</button>
          </div>
        </form>
      </div>
    </div>

    <script src="questionsPage/questionsPage.js"></script>
  </body>
</html>
