<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
    <link rel="stylesheet" href="login/login.css">
</head>
<body>
    <div class="wrapper-center">
        <div class="container">
             <form id="loginForum" onsubmit="return false">
                 <h1>Login</h1>
                 <input type="text" id="uname" name="uname" placeholder="Username">
                 <input type="password" id="passw" name="passw" placeholder="Password">
                 <div class="wrapper-buttons">
                     <button onclick="location.href='signup'" type="button">Sign up</button>
                     <button type="submit" >Log in</button>
                 </div>
            </form>
        </div>
    </div>
    <article>
    </article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/forge/0.9.1/forge.min.js"></script>
<script src="login/login.js"></script>
</body>
</html>