<!DOCTYPE html>
<html>

<head>

    <title>Page Title</title>
    <link rel="stylesheet" href="signup/signup.css">
</head>

<body>
    <div class="wrapper-center">
        <div class="container">
            <form id="signupForm">
                <h1>Sign Up</h1>
                <input type="text" id="fname" name="fname" placeholder="First name">
                <input type="text" id="lname" name="lname" placeholder="Last name">
                <input type="text" id="uname" name="uname" placeholder="Username">
                <input type="password" id="passw" name="passw" placeholder="Password">
                <div class="wrapper-buttons">
                    <button onclick="location.href='\\'" type="button">Back</button>
                    <button type="submit" >Sign up</button>
                </div>
            </form>
        </div>
    </div>
    <script src="signup/signup.js"></script>

</body>


</html>
