<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SiViR</title>
    <link rel="stylesheet" href="/home/style.css">
</head>
<body>

    <header>
        <a id="logo" href="/">SiViR</a>
        <form id="search-form">
            <input id="q" type="text" name="q" placeholder="Search" spellcheck="false"/>
             <button id="search-button">Search  </button>
            <div id="dropdown-button">
                <div id="dropdown" class="dropdown-content">
                    <select id="platform" name="platform" class="dropdown-content-element">
                        <option value="youtube">YouTube</option>
                        <option value="instagram">Instagram</option>
                        <option value="youtube">Vimeo</option>
                    </select>
                    <div id="criteria-platform" class="dropdown-content-element">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, repellat.</div>
                </div>
            </div>

        </form>
        <div class="username"><h2>Nume Utilizator</h2></div>
    </header>


       <div class="grid">
           <div class="item youtube_rec">
               <div class="content">
                   <div class="logo insta_logo"></div>
                   <img src="../img/thumbnail.jpg"/>
                   <h2>Titlu Video</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium amet consequatur debitis dolor doloribus ducimus earum eligendi esse expedita facilis illo laboriosam laborum magni nemo nesciunt nisi nobis nostrum nulla odit provident quam, quasi quo repellat repellendus similique, suscipit tempora tempore temporibus ut velit vero voluptatum. Ab aliquam amet beatae blanditiis consequuntur dignissimos doloribus earum esse facere libero maiores, maxime modi, mollitia nam nemo nulla obcaecati odio officia placeat quasi ratione rem saepe sint ullam voluptate. Quae quaerat, sint? Aliquid cumque exercitationem facilis ipsum, maiores ratione vero voluptatum.</p>

               </div>
           </div>

           <div class="item youtube_rec">
               <div class="content">
                   <div class="logo vimeo_logo"></div>
                   <img src="../img/thumbnail.jpg"/>

                   <h2>Titlu Video</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium amet consequatur debitis dolor doloribus ducimus earum eligendi esse expedita facilis illo laboriosam laborum magni nemo nesciunt nisi nobis nostrum nulla odit provident quam, quasi quo repellat repellendus similique, suscipit tempora tempore temporibus ut velit vero voluptatum. Ab aliquam amet beatae blanditiis consequuntur dignissimos doloribus earum esse facere libero maiores, maxime modi, mollitia nam nemo nulla obcaecati odio officia placeat quasi ratione rem saepe sint ullam voluptate. Quae quaerat, sint? Aliquid cumque exercitationem facilis ipsum, maiores ratione vero voluptatum.</p>

               </div>
           </div>
           <div class="item youtube_rec">
               <div class="content">
                   <div class="logo youtube_logo"></div>
                   <img src="../img/thumbnail.jpg"/>
                   <h2>Titlu Video</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium amet consequatur debitis dolor doloribus ducimus earum eligendi esse expedita facilis illo laboriosam laborum magni nemo nesciunt nisi nobis nostrum nulla odit provident quam, quasi quo repellat repellendus similique, suscipit tempora tempore temporibus ut velit vero voluptatum. Ab aliquam amet beatae blanditiis consequuntur dignissimos doloribus earum esse facere libero maiores, maxime modi, mollitia nam nemo nulla obcaecati odio officia placeat quasi ratione rem saepe sint ullam voluptate. Quae quaerat, sint? Aliquid cumque exercitationem facilis ipsum, maiores ratione vero voluptatum.</p>

               </div>
           </div>

           <div class="item youtube_rec">
               <div class="content">
                   <div class="logo youtube_logo"></div>
                   <img src="../img/thumbnail.jpg"/>
                   <h2>Titlu Video</h2>
                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium amet consequatur debitis dolor doloribus ducimus earum eligendi esse expedita facilis illo laboriosam laborum magni nemo nesciunt nisi nobis nostrum nulla odit provident quam, quasi quo repellat repellendus similique, suscipit tempora tempore temporibus ut velit vero voluptatum. Ab aliquam amet beatae blanditiis consequuntur dignissimos doloribus earum esse facere libero maiores, maxime modi, mollitia nam nemo nulla obcaecati odio officia placeat quasi ratione rem saepe sint ullam voluptate. Quae quaerat, sint? Aliquid cumque exercitationem facilis ipsum, maiores ratione vero voluptatum.</p>

               </div>
           </div>







        </div>

   <script src="home/home.js"></script>

</body>
</html>