<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="firstPage/firstPage.css" />
    <title>Appp</title>
  </head>
  <body>
    <section class="page">
      <header></header>
      <section class="upper-section">
        <section class="search-container">
          <input type="text" placeholder="What are you looking for?" />
          <button>Search</button>
        </section>

        <section class="user-info">
          <div class="user-container" onclick="openDropdown()">
            U
          </div>
          <div class="dropdown-items" id="dropdown">
            <a href=""> Profile</a>
            <a href="http://localhost:8000/questionsPage?"> Content</a>
            <a href=""> Settings</a>
            <a href=""> Logout</a>
          </div>
        </section>
      </section>

      <section class="content">
        <article class="card"></article>
        <article class="card"></article>
        <article class="card"></article>
      </section>
    </section>

    <script src="firstPage/firstPage.js"></script>
  </body>
</html>
